[Unit]
Description=Authentication service for apps behind a reverse proxy 
After=network.target remote-fs.target nss-lookup.target

[Service]
Type=simple
PIDFile=/run/authbaton.pid
ExecStartPre=/usr/bin/rm -f /run/authbaton.pid
ExecStart=/usr/bin/authbaton
ExecReload=/bin/kill -s HUP $MAINPID
TimeoutStopSec=10
KillMode=process
PrivateTmp=true
Restart=always

[Install]
WantedBy=multi-user.target